.content-table, .content-table__heading {
  text-align: center;
}

.content-table__heading:hover {
  cursor: pointer;
}

.content-table__heading:active {
  transform: scale(1.2, 1.2);
}

.content-pagination {
  text-align: center;
}

.content-pagination__text {
  font-weight: bold;
  padding: 0 1%;
}

.search {
  padding-top: 6px;
}
.search__input {
  font-weight: normal;
}

.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}